*{
margin: 0;
padding: 0;

}
nav{
background: cornflowerblue
}
nav ul{
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}

nav ul li{
display: inline;
}

nav ul li{
color:black
}

nav ul li{
background-color: blue;
border-radius: 5px;
}