*
{
margin: 0;
padding: 0;
}

body
{
font-size: 100%;
background-color: rgb(233, 163, 0);
max-width: 1024px;
h1 { font-size: 1.75em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.125em; }
footer p { font-size: .75em; }
}


#container
{
background-color: brown;
width: 94.8%;
margin: 0 auto;
max-width: 1020px;
}

header
{
background-color: rgb(189, 180, 180);
height: 100px;
width: 94.8%;
padding: 25px 2.6%;
margin-bottom: 10px;
}

nav
{
background-color: aquamarine;
width: 97.9%;
padding: 14px;
margin-bottom: 10px;
}

nav li
{
display: inline;
list-style-type: none;
padding-right: 40px;
}

aside
{
height: 400px;
width: 20.8%;
margin: 0% .9% .9% 0%; 
padding: 14px 1.56%;
background-color: rgb(130, 36, 126);
float: left;
}

section
{
width: 74%;
height: 400px;
margin: 0% 0% .9% 0%;
padding: 14px;
background-color: rgb(128, 122, 114);
float: right;
}

footer
{
background-color: rgb(255, 251, 0);
padding: 15px 1.56%;
clear: both;
width: 96.8%;
}

section img 
{
 width: 100%;
 max-width: 400px;
 margin-bottom: .5em;
}

p 
{
color:aliceblue;
}

